{% extends "landing/landingTemplate.html" %}
{% block landingContent %}
<h1>About Us</h1>
    <h2>Driving Incentive</h2>
        <p>Companies who promote safer driving save money in the long term. Reward App is here to help companies do just that. Simply contact us to set your company up today!</p>
        <p>Reward App will incentivise your drivers to drive better, saving you money in the long term as well as providing an easy way to communicate with your drivers.</p>
        <br>
    <h2>Contact Information</h2>
        <p>Address: 123 Main Street, New York, NY 10030</p>
        <p>Phone: (123) 456-7890 </p>
        <p>Email: <a href="mailto:rewardapp@gmail.com">rewardapp@gmail.com</a></p>
{% endblock %}