{% extends "admin/adminBase.html" %}
{% block adminContent %}
<h1>Points Leaderboard</h1>
<div class="row">
    <div class="one-half">
        <table id="view-drivers">
        {% for sponsor in sponsors %}
            {% if sponsor|length > 0 %}
                <tr>  
                    <th style="padding:10px;">Sponsor: {{ loop.index }}</th>
                    <th style="padding:10px;">Position</th>
                    <th></th>
                    <th style="padding:10px;">Name</th>
                    <th style="padding:10px;">Points</th>
                </tr>

                {% for driver in sponsor %}
                <tr>
                    <td></td>
                    <td style="padding:10px;">
                        {{ loop.index }}
                    </td>
                    <td style="padding:10px;">
                    <a href="/driverProfile">
                        <img src="{{url_for('static', filename='img/userpic2.png')}}" class="pfp">
                    </a>
                    </td style="padding:10px;">
                    <td style="padding:10px;">
                    {{ driver[0] }} {{ driver[2] }} 
                    </td>
                    <td style="padding:10px;">
                    {{ driver[4] }}
                    </td>
                </tr>
                {% endfor %}

            {% endif %}
        {% endfor %}
        </table>
    </div>
    <div class="one-half">
        <h2 style="padding-left: 10px;">Point Bonus</h2>
        <p><b>Top drivers at the end of each month get a point bonus.</b></p>
        <p>First Place: +250</p>
        <p>Second Place: +150</p>
        <p>Third Place: +100</p>
    </div>
</div>
{% endblock %}